<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="col-sm-3">Name</th>
				<th class="col-sm-7">Stock</th>
				<th class="col-sm-2 text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr data-ng-repeat="item in items">
				<td>{{ item.name }}</td>
				<td>{{ item.stock }}</td>
				<td class="text-center">
		 			<div class="btn-group btn-group-sm" role="group" aria-label="Actions">
						<button type="button" class="btn btn-info" data-ng-click="setCurrent(item)" data-toggle="modal" data-target="#supply_show"><i class="fa fa-eye"></i></button>
						<button type="button" class="btn btn-warning" data-ng-click="setCurrent(item)" data-toggle="modal" data-target="#supply"><i class="fa fa-pencil"></i></button>
						<button type="button" class="btn btn-danger" data-ng-click="setCurrent(item)" data-toggle="modal" data-target="#supply_remove"><i class="fa fa-trash"></i></button>
					</div>
				</td>
			</tr>
			<tr data-ng-show="items.length == 0">
				<td colspan="3" class="text-center">No supplies found.</td>
			</tr>
		</tbody>
	</table>
</div>