.asterisk {
    display: inline-block;
    color: #dd0000;
}

body {
    background: #F5F5F5;
}

body > div.container {
    position: relative;
    background: #ffffff;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em auto;
    border-radius: 0.4em;
    border: 1px solid #dddddd;
    -webkit-box-shadow: 0 2px 2px #dddddd;
    -moz-box-shadow: 0 2px 2px #dddddd;
    box-shadow: 0 2px 2px #dddddd;
}

div.container > table, form > table {
    border: 1px solid #dddddd !important;
}

div.modal.modal-wide > div.modal-dialog {
    width: 80%;
}

div.clearfix {
    margin-bottom: 1em;
}

.btn-add {
	margin: 0.5em;
	float: right;
}

div.tab-pane {
	border: 1px solid #dddddd;
	border-top: none;
    border-radius: 0 0 0.4em 0.4em;
}

span.select2 {
    width: 100%!important;
}

span.select2-selection__choice__remove {
    margin: 0 0 0 3px!important;
    float: right;
}