@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/font-awesome.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/notify.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.min.js")" type="text/javascript"></script>
    </head>
    <body>
        @content
        
        <script type="text/javascript" src="@routes.Assets.at("libraries/angularjs/angular.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("libraries/angularjs/angular-messages.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("libraries/angularjs/angular-resource.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/notify.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/sale.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/supply.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/product.js")"></script>
    </body>
</html>
